.card {
  .image-section {
    position: relative;
    height: 125px;
    width: 145px;
    margin: 8px 0;
    background: #ccc;

    .badge {
      position: absolute;
      left: 1px;
      top: 8px;
      background: #fff;
      color: #e40000;
      font-size: 12px;
      font-weight: 600;
      padding: 6px;
    }
  }
}
